.detail {
    width: 90%;
    margin: 0 auto 2em;
}

.detail-piece{
    width: 90%;
    margin: auto;
}

.detail-header {
    
    margin-bottom: 50px;
}
.detail-header table {
    font-weight: bold;
}
.detail-header thead {
    color: white;
	background-color: rgb(91,155,213);
}
.detail-header tbody th {
    text-align: right;
    color: rgb(23,125,198);
    padding-right: 10px;
    padding-left: 10px;
}
.detail-header tbody td {
    text-align: left;
	padding-right: 10px;
    padding-left: 10px;
}

.recalls-table, .vehicles-table {
    width: 95%;
    margin: 50px auto;
    font-weight: bold;
}
.recalls-table tr, .vehicles-table tr {
    text-align: left;
    border: 2px solid rgb(91,155,213);
}
.recalls-table thead, .vehicles-table thead  {
    color: white;
	background-color: rgb(91,155,213);
}
.recalls-table th:nth-child(2), .vehicles-table th:nth-child(2) {
    text-align: center;
}
.recalls-table td:nth-child(2), .vehicles-table td:nth-child(2) {
    text-align: center;
}
.recalls-table td:nth-child(7) {
    text-align: center;
}
.recalls-table td:nth-child(8) {
    text-align: center;
}

.indicator-sort {
    float: right;
}
